<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" lang="zh">
<!-- 导航 -->
<nav class="ui inverted attach segment  m-padded-tb-mini">
    <div class="ui container">
        <div class="ui secondary inverted stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="active item m-item m-mobile-hiden"><i class=" home icon"></i>首页</a>
            <a href="types.html" class="item m-item m-mobile-hiden"><i class=" idea icon"></i>分类</a>
            <a href="archives.html" class="item m-item m-mobile-hiden"><i class=" tags icon"></i>标签</a>
            <a href="tags.html" class="item m-item m-mobile-hiden"><i class=" clone icon"></i>归档</a>
            <a href="about.html" class="item m-item m-mobile-hiden"><i class=" info icon"></i>关于我</a>
            <div class="right floated item m-item m-mobile-hiden">
                <div class="ui search item">
                    <!-- loading search -->
                    <div class="ui icon input ">
                        <input class="prompt" type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <!-- <div class="ui icon input">
                    <input type="text" placeholder="search...">
                    <i class="search link icon"></i>
                </div> -->
            </div>
        </div>
    </div>

    <a href="#" class="ui black menu toggle icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>